@import "app/sass/variables";




.message {
    width: 330px;
    height: 330px;
    background-image: url('../img/construction.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
}