@import "app/sass/variables";

.bg-menu {
    position: absolute;
    transition: 0.5s;
    opacity: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.bg-menu-open {
    opacity: 1;
    width: 100%;
}

.menu {
    position: absolute;
    transition: 0.5s;
    width: 250px;
    height: 100%;
    left: -250px;
    background-color: white;
    z-index: 11;

    &>header {
        display: flex;
        width: initial;
        height: 65px;
        border-bottom: 1px solid $light-gray;

        &>.menu-button {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 65px;
            height: 65px;

            &>i {
                width: 20px;
                height: 20px;
                background-color: $gray;
            }
        }

        &>.logo {
            width: 150px;
            height: 65px;
            background-image: url('../img/logo.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    &>.body {
        width: 100%;
        height: calc(100% - 65px);

        &>.button {
            padding-left: 14px;
            transition: 0.5s;
            display: flex;
            align-items: center;
            cursor: pointer;

            &>i {
                height: 20px;
                width: 20px;
                margin: 10px;
                background-color: $gray;
            }

            &>span {
                color: $gray;
                text-transform: uppercase;
                font-size: 12px;
            }

            &:hover {
                background-color: $light-gray;
            }
        }
    }
}

.menu-open {
    left: 0px;
}