@import "sass/variables";

.card {
    min-width: 350px;
    width: 50%;
    min-height: 400px;
    height: auto;
    border: solid 1px $light-gray;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;

    &>header {
        min-height: 70px;
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        border-bottom: 1px solid $light-gray;

        &>.card-button {
            position: absolute;
            padding: 10px
        }

        &>.left {
            left: 0px;
        }

        &>.right {
            right: 0px;
        }

        &>.info {
            width: 50%;
            display: flex;
            flex-flow: column;
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;
            padding: 10px;
            padding-top: 20px;


            &>.img {
                height: 100px;
                width: 100px;
                margin-top: 10px;
                margin-bottom: 20px;
                border-radius: 100%;
                border: 1px solid $light-gray;
                background-color: white;
                background-image: url('../img/jv.jpg');
                background-repeat: no-repeat;
                background-size: 110%;
                background-position: center;
            }

            &>.number {
                display: flex;
                position: absolute;
                bottom: 90px;
                right: -50px;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                background-color: white;
                color: $gray;
                border: 1px solid $light-gray;
                align-items: center;
                justify-content: center;
                font-size: 25px;
                letter-spacing: -4px;
                font-weight: 900;

                &>span {
                    margin-left: -5px;
                }
            }


            &>h1 {
                color: inherit;
                font-family: inherit;
                text-align: center;
                font-size: 24px;
                font-weight: 900;
                letter-spacing: -2px;
                text-transform: uppercase;
                margin: 0px;
                padding: 5px;
            }

            &>h2 {
                font-size: 20px;
                font-weight: 100;
                letter-spacing: -2px;
                font-family: inherit;
                text-align: center;
                text-transform: uppercase;
                margin: 0px;
                margin-bottom: 5px;
                padding: 0px;
            }

            &>span {
                margin: 0px;
                font-size: 10px;
                line-height: 12px;
                font-weight: 100;
                text-align: center;
                text-transform: uppercase;
            }

            &>.orange {
                color: $orange
            }
        }
    }

    &>header[type='profile'] {
        padding-bottom: 50px;
        margin-bottom: 120px;

        &>.info {
            margin-bottom: -165px;
        }
    }

    &>header[type='list'] {
        margin-bottom: 0px;
    }


    &>.card-grid {
        display: flex;
        justify-content: center;
        width: 100%;

        &>span {
            width: 100%;

            &>.title {
                text-transform: uppercase;
                margin: 10px;
                margin-top: 0px;
                padding-bottom: 5px;
                font-weight: 900;
                border-bottom: 1px solid $light-gray;
            }

            &>p {
                font-size: 13px;
                padding: 10px;
                padding-top: 0px;
                margin: 0px;
            }
        }

    }

    &>.cg-two {
        &>span {
            width: 50%;
        }
    }

    &>.row-profile {
        display: flex;
        align-items: center;
        justify-content: left;
        width: 100%;
        height: auto;
        border-bottom: 1px solid $light-gray;
        cursor: pointer;

        &>.img {
            height: 50px;
            width: 50px;
            background-color: $light-gray;
            border-radius: 100%;
            margin: 10px;
            background-image: url('../img/jv.jpg');
            background-repeat: no-repeat;
            background-size: 110%;
            background-position: center;
        }

        &>.description {
            display: flex;
            flex-direction: column;
            border-left: 1px solid $light-gray;
            padding-left: 10px;

            &>span {
                text-transform: uppercase;
                font-weight: 100;
                letter-spacing: -1px;
            }

            &>span[type='secundary'] {
                font-size: 10px;
                line-height: 10px;
                color: $orange;
            }
        }


    }


}