@import "sass/variables";

.icon-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: transparent;


    &>i {
        width: 50%;
        height: 50%;
        background-color: $gray;
        z-index: 1;
    }

    &[type='active'] {
        &>i {
            background-color: $orange;
        }

    }

    &[type='border'] {
        border: 1px solid $light-gray;
    }

}